<p style="color: green"><%= notice %></p>

<%= render @attach %>

<div>
  <%= link_to "Edit this attach", edit_attach_path(@attach) %> |
  <%= link_to "Back to attaches", attaches_path %>

  <%= button_to "Destroy this attach", @attach, method: :delete %>
</div>
